#admin stuff
alias s="nohup"
alias op="sudo"
alias vz="nvim ~/.zshrc"
alias vb="nvim ~/.bashrc"
alias v3="nvim ~/.config/i3/config"
alias vp="nvim ~/.config/polybar/config.ini"
alias vw="nvim ~/.config/waybar/config.jsonc"
alias vh="nvim ~/.config/hypr/hyprland.conf"
alias cc="cd"
alias mv="mv -i"
alias cp="cp -i"
alias lf="ls -f"
#clear alias
alias cls="clear"
alias cl="clear"
alias c="clear"
alias ccc="cd && clear"
#trash
alias rr="trash"
alias rl="trash-list"
alias re="trash-empty"
#random
alias f="fastfetch"
alias mx="sudo chmod +x"
alias k="kill"
alias pwo="poweroff"
alias t="bpytop"
alias ren="mv -n"
alias v="nvim"
alias r="ranger"
alias rs="rust-stakeholder --complexity extreme --team"
alias :q="exit"
